.pokemon-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    overflow: scroll;
}

.pokemon-detail__image {
    width: 300px;
    background-color: #fefefe;
    border-radius: 50%;
    margin: 15px 0;
}
.pokemon-detail__number {
    font-size: 36px;
}