.container {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 3px black solid;
    background-color: #fefefe;
    border-radius: 5px;
    text-decoration: none;
}

.notImage {
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
    line-height: 100px;
    text-align: center;
}
.card {
    width: 100%;
}

.card-image {
    width: 100%;
}

.card-name {
    background-color: #333333;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}

@media screen and (min-width: 600px) {
    .container {
        width: 45%;
    }
    
    .notImage {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 32%;
    }
    
    .notImage {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}